<!doctype html>
<html lang="en">
<head>
    <%- include('./partials/head');%>
    <link rel="stylesheet" type="text/css" href="./css/index.css">
</head>
<body>
    <header id = 'header'>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" id='profilesList'>Список пользователей</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id = 'mainContainer'>
        <table id = 'profilesTable'>
            <thead id = 'profilesTableHead'>
                <tr>
                    <th>Имя пользователя</th>
                    <th>Почта</th>
                    <th>Роль</th>
                    <th>Статус</th>
                    <th>Профиль</th>
                </tr>
            </thead>
            <tbody id = 'profilesTableBody'>
            </tbody>
        </table>
    </div>
    <div class="spinner-border text-dark" id = 'loadingSpinner' role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/05c56843eb.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="module" src="./js/index.min.js"></script>
</body>
</html>